.container {
    margin-top: 50px;
    padding: 30px;
    background-color: white;
}

.newarrival {
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.col-md-7 h2 {
    color: #555;
}

span {
    padding-left: 20px;
}

.shipping {
    float: right;
    margin-right: 0;
    font-size: 11px;
}

.btn {
    background-color: purple;
    color: white;
}

.modal {
    animation: fadeIn 2s;
    background-color: rgb(75, 0, 130, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}